html {
    background-image: url(hatterkocka.png)
}
body {
    color #443507
}
div.a {
    text-align: right;
}
div.b {
    text-align: left;
}
div.c {
    margin 10px;
}
ul div {
    margin 10px;
    background-color: lightgray;
    font-style: italic;
}
img {
    height: 170px;
}
ul {
    list-style-type: circle;
}